<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Potty Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Dog Potty Predictor</h1>
        </header>

        <main class="main-content">
            <section class="prediction-section">
                {% if prediction_pipi %}
                <p class="prediction">{{ prediction_pipi }}</p>
                <span>💧</span> 
                {% endif %}

                {% if prediction_kaki %}
                <p class="prediction">{{ prediction_kaki }}</p>
                <span>💩</span>
                {% endif %}

                {% if combined_prediction %}
                <p class="prediction">{{ combined_prediction }}</p>
                <span>💩 and 💧 </span> 
                {% endif %}

                <p class="comment">{% if comment %}{{ comment }}{% endif %}</p>
            </section>

            <!-- Text area input -->
            <form method="POST" class="prediction-form">
                <textarea id="data" name="data" rows="10" cols="50" placeholder="Paste your data here..."></textarea><br>
                <input type="submit" value="Predict" class="submit-button">
            </form>

            <!-- "Read me" Section -->
            <section class="read-me">
                <h2>How to Use:</h2>
                <ol>
                    <li>Open a WhatsApp group and add your data in this example format: 
                        <pre>07:10 פיפי וקקי בחוץ</pre>
                    </li>
                    <li>Save Chat</li>
                    <li>Download Chat</li>
                    <li>Copy entire chat</li>
                    <li>This is your input for the app.</li>
                </ol>
            </section>
        </main>
    </div>

    <!-- Copyright Section -->
    <footer class="footer">
        <p>&copy; 2024 Adam Bartash. All rights reserved. "Dog Potty Predictor" 2024.</p>
    </footer>
</body>
</html>
